@model IEnumerable<LocadoraDejogos.Models.Jogos>

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">

    <br /> <br />
    <br /> <br />

    <header class="main-banner">
        <div class="banner-content">
            <h1>Bem-vindo à Locadora de Jogos</h1>
            <p>Alugue os melhores jogos e divirta-se!</p>

            <button type="button" class="btn btn-outline-danger">
                <a class="nav-link" asp-area="" asp-controller="Jogos" aso-action="Index">
                    <i class=" = " tabindex=" bi-book">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 20">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>Confira nossos jogos
                    </i>
                </a>
            </button>
        </div>
    </header>

    <br />

    <div class="carousel-container">
        <div class="carousel-track">
            <img src="https://cdn2.steamgriddb.com/grid/5bf8509788862cf237bc3a048e090698.png">
            <img src="https://cdn2.steamgriddb.com/grid/7734306758c97e4fad5b19a29ad9a4ee.webp">
            <img src="https://cdn2.steamgriddb.com/grid/121b81f7d167ca2c24fdab4f044048f8.png">
            <img src="https://cdn2.steamgriddb.com/grid/e13967b41085b037a83173b3e0f8dcba.png" />
            <img src="https://cdn2.steamgriddb.com/grid/90cc2b422d863a34e116202e89691b98.png">
            <img src="https://cdn2.steamgriddb.com/grid/1d9fb1278212f3c7d4d0d0f966b39d50.png">
            <img src="https://cdn2.steamgriddb.com/grid/543af1392892ff0c1e2060cef360a733.png">

            <img src="https://cdn2.steamgriddb.com/grid/14c31b2ebc49eaf271d65ff4522eae4e.png" />
            <img src="https://cdn2.steamgriddb.com/grid/c9993987a5d02e93947a5f9b29b82e04.webp" />
            <img src="https://cdn2.steamgriddb.com/grid/1bc38477bc1f540837e39eb0b8dbb520.png" />
            
            <img src="https://cdn2.steamgriddb.com/grid/7c53261cc17b8bfe1c0a87a4250a5a8f.png" />
            <img src="https://cdn2.steamgriddb.com/grid/ea7125c532d2047c12186fb54f3f0c88.png" />
            <img src="https://cdn2.steamgriddb.com/grid/7282feea57f0e6cd89092df704f8e039.webp" />
            <img src="https://cdn2.steamgriddb.com/grid/8eb8c14637ad7f04b17390e3c4b16ec9.png" />
            <img src="https://cdn2.steamgriddb.com/grid/fc980c0530a7e79d16f6894e5e98df9e.jpg" />
            <img src="https://cdn2.steamgriddb.com/grid/a4c88bd827bdad1f65648774ca1a8c4c.png" />
            <img src="https://cdn2.steamgriddb.com/grid/fc80088e4d37d4ca60158963a487432e.png" />
            <img src="https://cdn2.steamgriddb.com/grid/d6a1cd07dabfa7ecf15e24db5c1e8bf6.png" />
            <img src="https://cdn2.steamgriddb.com/grid/310c9f9103377d00000d96691fccfe23.png" />
            <img src="https://cdn2.steamgriddb.com/grid/ab704bd383ad12c1e7f6bcaa0da165b0.png" />
            <img src="https://cdn2.steamgriddb.com/grid/795ced384fdcad15310b46841a6f145c.jpg" />
            <img src="https://cdn2.steamgriddb.com/grid/60d58eafbef6da2e2bd56b40cd8835ed.png" />
            <img src="https://cdn2.steamgriddb.com/grid/f8e3a4d5374a34bfa5e7a485c48fc9f3.png" />
            <img src="https://cdn2.steamgriddb.com/grid/c3f3d5b264bbc83c3c9b022b153dbb70.png" />
            <img src="https://cdn2.steamgriddb.com/grid/3940304b536796dcc176aa83203a3955.png" />
            <img src="https://cdn2.steamgriddb.com/grid/32129d4648e1dbc800c0bcc37b91ebc8.png" />
            <img src="https://cdn2.steamgriddb.com/grid/236b00486db86ef9118255e0e58f272e.png" />
            <img src="https://cdn2.steamgriddb.com/grid/2f87d717bf556321774d1b4975d2e1c1.png" />
            <img src="https://cdn2.steamgriddb.com/grid/c5c8f54138e6b9a67eeb4b5d186b27d0.png" />
            <img src="https://cdn2.steamgriddb.com/grid/a9283100ad06971a29f5382f6ab25ea4.jpg" />
            <img src="https://cdn2.steamgriddb.com/grid/a8910396793499908930a15c1031cd5e.jpg" />
            <img src="https://cdn2.steamgriddb.com/grid/491c9743d251c3dba93f72771a27ed5c.png" />
            <img src="https://cdn2.steamgriddb.com/grid/3b03a73fb6c30e47003e5de9ccdb843a.png" />
            <img src="https://cdn2.steamgriddb.com/grid/48f80b634fc8d3d9ec00cb9f04956a6d.png" />
            <img src="https://cdn2.steamgriddb.com/grid/ccfe7678d2412fe68fc540485c23a0b9.png" />
            <img src="https://cdn2.steamgriddb.com/grid/3ae113b8a46fae273df332bf6ae39a0e.png" />
            <img src="https://cdn2.steamgriddb.com/grid/a4398f4c4f6cc06fcbf29fb0dc623424.png" />

            <img src="https://cdn2.steamgriddb.com/grid/33e439b1bfe0ea579c013eea5d8e6d32.png" />
            <img src="https://cdn2.steamgriddb.com/grid/a2959d14ad418268c4ecf73fb183ab8f.png" />
            <img src="https://cdn2.steamgriddb.com/grid/0b5a37bc2c7f039ceed54c28073e35b9.png" />
            <img src="https://cdn2.steamgriddb.com/grid/2cffdc4195ce6adf0a57062e4318662e.webp" />
            <img src="https://cdn2.steamgriddb.com/grid/cc735352db842232a33b3d1edd26f8f6.png" />
            <img src="https://cdn2.steamgriddb.com/grid/d36ac395fa31afe3c1cc571c09a9644d.png" />
            <img src="https://cdn2.steamgriddb.com/grid/2cc9e73d768246f2569c6f1ce43c163e.jpg" />
            <img src="https://cdn2.steamgriddb.com/grid/26203c6ab63ff66fef12bbc3b8dad1c0.png" />
            <img src="https://cdn2.steamgriddb.com/grid/c4e954b93dc03b0f846db4051a1e6d25.png" />
            <img src="https://cdn2.steamgriddb.com/grid/72d0eaa80cc3412fda4a133ca1f884e8.png" />
            <img src="https://cdn2.steamgriddb.com/grid/10f16ffcd88e1cf00e43178442437763.png" />
            <img src="https://cdn2.steamgriddb.com/grid/0ed5055450adbd836945761a6fa43ee0.jpg" />
            <img src="https://cdn2.steamgriddb.com/grid/49c44c72a9c47453127878cc3d4eaf5b.png" />
            <img src="https://cdn2.steamgriddb.com/grid/75d447ff881e7a5e48b43fe0ca091ae5.png" />
            <img src="https://cdn2.steamgriddb.com/grid/7a807be03d58378fe54cd908bcbb9454.png" />
            <img src="https://cdn2.steamgriddb.com/grid/3081722c6a53ec814b2e639b72077731.png" />
            <img src="https://cdn2.steamgriddb.com/grid/3ab7434b949fbf9a19c3fcc830c1bdf1.png" />
            <img src="https://cdn2.steamgriddb.com/grid/cc4ec90b270b9f1de8dc2d8864425252.png" />
            <img src="https://cdn2.steamgriddb.com/grid/ea60878f56015af940226ebfc5c0296c.png" />
            <img src="https://cdn2.steamgriddb.com/grid/67b50a2aac43f7ce1502dce16dad4dc2.jpg" />
            <img src="https://cdn2.steamgriddb.com/grid/8c838804a40f42b5e488e1eea3b90bb0.png" />
            <img src="https://cdn2.steamgriddb.com/grid/055c25fa28c4eb8c6bb0672e557eef80.png" />
            <img src="https://cdn2.steamgriddb.com/grid/30f52c42d71419a92405dd78a3ab4a9c.png" />
            <img src="https://cdn2.steamgriddb.com/grid/838b5a042f1761ef0b5981585a0a7f38.png" />
            <img src="https://cdn2.steamgriddb.com/grid/ac872cacefd8a60537de5a64570b35a9.jpg" />
        </div>
    </div>
</div>