@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /> <br />
    <br /> <br />
    <h1 class="display-4">Bem vindos à nossa locadora de jogos!</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
