@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">

    <br /> <br />
    <br /> <br />

    <header class="main-banner">
        <div class="banner-content">
            <h1>Bem-vindo à Locadora de Jogos</h1>
            <p>Alugue os melhores jogos e divirta-se!</p>
            <button class="banner-button">Confira nossos jogos</button>
        </div>
    </header>

</div>