@model IEnumerable<LocadoraDejogos.Models.Privacy>

@{
    ViewData["Title"] = "Privacy";
}

<br /> <br />
<br /> <br />

<div class="text-left">
    <h1>@ViewData["Title"]</h1>

    <p>
        Última atualização: novembro de 2024
    </p>

    <h2>
        Informações coletadas dos visitantes
    </h2>

    <p>
        Assim como outros sites, os arquivos de log são armazenados no servidor web, salvando detalhes como endereço IP do visitante, tipo de navegador, página de referência e horário da visita.

        <br />

        Os cookies podem ser usados ​​para lembrar as preferências do visitante ao interagir com o site.

        <br />
    
        Quando for necessário registro, o e-mail do visitante e um nome de usuário serão armazenados no servidor.

    <h2>
        Como a informação é usada
    </h2>

    <p>
        As informações são utilizadas para melhorar a experiência do visitante ao utilizar o site para exibir conteúdo personalizado e possivelmente publicidade.

        <br />

        Endereços de e-mail não serão vendidos, alugados ou arrendados a terceiros.

        <br />

        E-mail pode ser enviado para informá-lo sobre novidades de nossos serviços ou ofertas nossas ou de nossas afiliadas.

    </p>

    <h2>
        Opções de visitante
    </h2>

    <p>
        Se você assinou um de nossos serviços, poderá cancelar a assinatura seguindo as instruções incluídas no e-mail que você recebeu.

    <br />

        Você pode bloquear cookies através das configurações do seu navegador, mas isso pode impedir o acesso a determinados recursos do site.

    </p>

    <h2>
        Cookies
    </h2>

    <p>
        Cookies são pequenos arquivos de assinatura digital armazenados pelo seu navegador que permitem registrar suas preferências ao visitar o site. Eles também podem ser usados ​​para rastrear suas visitas de retorno ao site.

        <br />

        Empresas de publicidade terceirizadas também podem usar cookies para fins de rastreamento.

    </p>
</div>