@model LocadoraDejogos.Models.Jogos

@{
    ViewData["Title"] = "Editar Jogo";
}

<h1>Edit</h1>

<h4>Jogos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CapaURL" class="control-label"></label>
                <input asp-for="CapaURL" class="form-control" />
                <span asp-validation-for="CapaURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundoURL" class="control-label"></label>
                <input asp-for="FundoURL" class="form-control" />
                <span asp-validation-for="FundoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LojaURL" class="control-label"></label>
                <input asp-for="LojaURL" class="form-control" />
                <span asp-validation-for="LojaURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desenvolvedor" class="control-label"></label>
                <input asp-for="Desenvolvedor" class="form-control" />
                <span asp-validation-for="Desenvolvedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distribuidora" class="control-label"></label>
                <input asp-for="Distribuidora" class="form-control" />
                <span asp-validation-for="Distribuidora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsoleID" class="control-label"></label>
                <select asp-for="ConsoleID" class="form-control" asp-items="ViewBag.ConsoleID"></select>
                <span asp-validation-for="ConsoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <input asp-for="Unidade" class="form-control" />
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:6px">
                <button type="button" class="btn btn-secondary">
                    <a asp-action="Index" class="remove-link">
                        Voltar para Jogos
                    </a>
                </button>

                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<br />
